# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
.continue
migrate_working_dir/
*.pbxproj
*.xcworkspace
*.xcuserdata
*.hprof

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
.dart_tool/
.packages
.flutter-plugins-dependencies
.pub-cache/
.pub/

/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Agents
/.github/agents
.agents/agents/beast.agent.md
.gitignore
.agents/agents/Plan.agent.md
docs/app-store-setup.md
docs/google-play-setup.md
docs/keystore-setup.md
docs/SUBMISSION-CHECKLIST.md
